---
import MainImage from "@/components/MainImage.astro";
import DateInfo from "@/components/DateInfo.astro";
import Layout from "../layouts/Layout.astro";
import Countdown from "@/components/Countdown.astro";
import Schedule from "@/components/Schedule.astro";
import Recommendations from "@/components/Recommendations.astro";
import Location from "@/components/Location.astro";
import SectionDivider from "@/components/SectionDivider.astro";
import Gallery from "@/components/Gallery";
import Typography from "@/components/Typography.astro";
import Icon from "@/components/Icon.astro";
import Leaf from "@/components/icons/Leaf.astro";
import ButtonUp from "@/components/ButtonUp.astro";
import Gift from "@/components/Gift.astro";
import image from "../public/img/bg-main.jpg";
---

<Layout
  title="Paola & Cristian"
  description="Boda - Paola & Cristian"
  canonical="https://clubvallereal.com"
>
  <main>
    <section id="mainImage">
      <MainImage />
    </section>
    <section id="dateInfo">
      <DateInfo />
    </section>
    <section id="countdown">
      <Countdown />
    </section>
    <section id="schedule">
      <Schedule />
    </section>
    <section id="recommendations">
      <Recommendations />
    </section>

    <section id="location">
      <Location />
    </section>
    <section id="gift">
      <Gift />
    </section>

    <section id="gallery">
      <Typography
        as="h3"
        color="black"
        class:list={"text-balance text-center font-atomic text-[60px]"}
      >
        Galería
      </Typography>
      <Icon>
        <Leaf class="w-7 h-7 fill-primary" />
      </Icon>
      <Gallery client:load />
    </section>

    <ButtonUp />
  </main>
</Layout>

<style></style>
