---
import MainImage from "@/components/MainImage.astro";
import DateInfo from "@/components/DateInfo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Paola & Cristian"
  description="Paola & Cristian -Wedding"
  canonical="https://lavelada.es"
>
  <main>
    <section id="mainImage">
      <MainImage />
    </section>
    <section id="dateInfo">
      <DateInfo />
    </section>
  </main>
</Layout>

<style></style>
