---
import MainImage from "@/components/MainImage.astro";
import DateInfo from "@/components/DateInfo.astro";
import Layout from "../layouts/Layout.astro";
import Countdown from "@/components/Countdown.astro";
import Schedule from "@/components/Schedule.astro";
import Recommendations from "@/components/Recommendations.astro";
---

<Layout
  title="Paola & Cristian"
  description="Paola & Cristian -Wedding"
  canonical="https://lavelada.es"
>
  <main>
    <section id="mainImage">
      <MainImage />
    </section>
    <section id="dateInfo">
      <DateInfo />
    </section>
    <section id="countdown">
      <Countdown />
    </section>
    <section id="schedule">
      <Schedule />
    </section>
    <section id="recommendations">
      <Recommendations />
    </section>
  </main>
</Layout>

<style></style>
