---
import MainImage from "@/components/MainImage.astro";
import DateInfo from "@/components/DateInfo.astro";
import Layout from "../layouts/Layout.astro";
import Countdown from "@/components/Countdown.astro";
import Schedule from "@/components/Schedule.astro";
import Recommendations from "@/components/Recommendations.astro";
import Location from "@/components/Location.astro";
---

<Layout
  title="Paola & Cristian"
  description="Paola & Cristian - Boda"
  canonical="https://cdn0.bodas.net/article-vendor/45446/3_2/1920/jpg/ec-228_1_45446-168966401847248.webp"
>
  <main>
    <section id="mainImage">
      <MainImage />
    </section>
    <section id="dateInfo">
      <DateInfo />
    </section>
    <section id="countdown">
      <Countdown />
    </section>
    <section id="schedule">
      <Schedule />
    </section>
    <section id="recommendations">
      <Recommendations />
    </section>
    <section id="location">
      <Location />
    </section>
  </main>
</Layout>

<style></style>
