---
import Icon from "./Icon.astro";
import Leaf from "./icons/Leaf.astro";
---

<div class="py-10 px-4 mx-auto text-center date-area">
  <div class="flex flex-col gap-8 mb-10">
    <div class="flex text-center justify-center">
      <h2
        class="leading-6 font-extralight tracking-widest text-3xl text-primary"
      >
        Amar es una decisión, y nosotros decidimos amarnos hoy y siempre.
      </h2>
    </div>
    <div class="flex text-center justify-center">
      <h2 class="leading-6 font-light tracking-widest text-xl">
        Con la bendición de nuestros padres:
      </h2>
    </div>
    <div class="flex flex-col md:flex-row gap-7 items-center justify-evenly">
      <div class="flex flex-col">
        <span class="text-center tracking-widest text-xl text-primary"
          >Adrian Cuevas González</span
        >
        <span class="text-center tracking-widest text-xl text-primary"
          >Bertha Alicia Islas Quezada</span
        >
      </div>
      <div class="flex flex-col">
        <span class="text-center tracking-widest text-xl text-primary"
          >Sabino González Pérez</span
        >
        <span class="text-center tracking-widest text-xl text-primary">
          María Margarita Torres Rubalcava
        </span>
      </div>
    </div>
    <div class="flex text-center justify-center">
      <p
        class="leading-6 font-extralight tracking-widest text-xl underline underline-offset-4"
      >
        Tenemos el gusto de invitarte en este día tan importante en nuestras
        vidas
      </p>
    </div>
  </div>

  <h2 class="text-[60px] font-atomic">22 de Febrero de 2025</h2>
  <Icon>
    <Leaf class="w-7 h-7 fill-primary" />
  </Icon>
</div>

<style>
  .date-area {
    position: relative;
    z-index: 1;
  }
  .date-area:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;
    background: url("../../public/img/bg-circles.png");
  }
</style>
