---
import Icon from "./Icon.astro";
import Typography from "./Typography.astro";
import Leaf from "./icons/Leaf.astro";
---

<div
  class="flex flex-col items-center justify-center pb-20 pt-10 bg-primary place-items-center gap-y-2"
  aria-label="cuenta atrás"
>
  <Typography
    as="h3"
    color="white"
    class:list={"text-balance text-center font-atomic text-[60px]"}
    >Sugerencia de regalo
  </Typography>
  <Icon isDark>
    <Leaf class="w-7 h-7 fill-secondary" />
  </Icon>
  <div class="max-w-3xl p-4">
    <Typography
      as="p"
      color="white"
      class:list={"text-balance text-center tracking-wider leading-9 font-extralight text-xl"}
    >
      Tu presencia es el mejor regalo, sin embargo, si deseas hacernos un
      obsequio, nuestra mejor opción es:
    </Typography>
  </div>
  <div
    class="grid p-6 grid-cols-1 md:grid-cols-3 gap-5 mt-4 w-full place-items-center"
  >
    <article
      class="rounded-sm shadow-2xl gap-5 max-w-sm bg-[#F6F4F0]/80 p-10 flex-col flex items-center justify-center"
    >
      <img src="/img/liverpool.webp" alt="Regalo" class="w-2/3" />
      <button
        class="text-white text-sm bg-primary/90 p-2 hover:bg-secondary hover:text-primary transition-colors"
        >Ver mesa de regalos</button
      >
    </article>
    <article
      class="rounded-sm gap-5 shadow-2xl bg-[#F6F4F0]/80 max-w-sm p-10 flex-col flex items-center justify-center"
    >
      <img src="/img/liverpool.webp" alt="Regalo" class="w-2/3" />
      <button
        class="text-white text-sm bg-primary/90 p-2 hover:bg-secondary hover:text-primary transition-colors"
        >Ver mesa de regalos</button
      >
    </article>
    <article
      class="rounded-sm gap-5 shadow-2xl bg-[#F6F4F0]/80 max-w-sm p-10 flex-col flex items-center justify-center"
    >
      <img src="/img/liverpool.webp" alt="Regalo" class="w-2/3" />
      <button
        class="text-white text-sm bg-primary/90 p-2 hover:bg-secondary hover:text-primary transition-colors"
        >Ver mesa de regalos</button
      >
    </article>
  </div>
</div>
