---
import Icon from "./Icon.astro";
import Typography from "./Typography.astro";
import Leaf from "./icons/Leaf.astro";
---

<div
  class="flex flex-col items-center justify-center pb-20 pt-8 p-2 md:p-15 place-items-center gap-y-2"
  aria-label="Ubicación"
>
  <Typography
    as="h3"
    color="black"
    class:list={"text-balance text-center tracking-widest text-[50px] font-atomic"}
    >Ubicación
  </Typography>
  <Icon>
    <Leaf class="w-7 h-7 fill-primary" />
  </Icon>
  <div
    class="flex flex-col items-center md:flex-row gap-5 md:gap-0 gap-x-10 w-full justify-between md:justify-around p-2"
  >
    <div class="flex flex-col p-4 max-w-lg gap-4 w-full">
      <Typography
        as="h4"
        color="black"
        class:list={"text-balance text-center tracking-widest font-extralight text-4xl sm:text-3xl"}
        >Misa
      </Typography>
      <div class="border-4 border-primary">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3731.762962078969!2d-103.45698322390386!3d20.71984798085344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428a8ccf535c611%3A0x438f2021bb4c1f4e!2sParroquia%20de%20Mar%C3%ADa%20Madre%20Nuestra!5e0!3m2!1ses-419!2sus!4v1741365214989!5m2!1ses-419!2sus"
          width="100%"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <h3 class="text-2xl font-extralight tracking-widest">Dirección</h3>

      <span class="text-md tracking-tight font-semibold"
        >Parroquia de María Madre Nuestra</span
      >

      <span class="text-md tracking-tight font-light"
        >San Arturo Sur 3255, Valle Real, 45019 Zapopan, Jal.
      </span>
      <a
        target="_blank"
        href="https://www.google.com/maps/place/Parroquia+de+Mar%C3%ADa+Madre+Nuestra/@20.719848,-103.4569832,17z/data=!3m1!4b1!4m6!3m5!1s0x8428a8ccf535c611:0x438f2021bb4c1f4e!8m2!3d20.719848!4d-103.4544083!16s%2Fg%2F1td6gt68?entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D"
        class="text-blue-500 underline cursor-pointer font-extralight"
        >Abrir en Google Maps</a
      >
    </div>
    <div class="flex flex-col p-4 max-w-lg gap-4 w-full">
      <Typography
        as="h4"
        color="black"
        class:list={"text-balance text-center font-extralight tracking-widest text-4xl sm:text-3xl"}
        >Fiesta + ceremonia civil
      </Typography>
      <div class="border-4 border-primary">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3729.8277628820056!2d-103.46326651355649!3d20.79825483127272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428a67d89eb3bb9%3A0x9f7c871116673cc3!2sHacienda%20La%20Escoba!5e0!3m2!1ses-419!2sus!4v1741365130469!5m2!1ses-419!2sus"
          width="100%"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <h3 class="text-2xl tracking-widest font-extralight">Dirección</h3>
      <span class="text-md tracking-tight font-semibold"
        >Hacienda La Escoba
      </span>
      <span class="text-md tracking-tight font-light"
        >Carr a Colotlán KM. 1.7, 45200 Zapopan, Jal.</span
      >
      <a
        target="_blank"
        href="https://www.google.com/maps/place/Hacienda+La+Escoba/@20.7982549,-103.4609705,17z/data=!3m1!4b1!4m9!3m8!1s0x8428a67d89eb3bb9:0x9f7c871116673cc3!5m2!4m1!1i2!8m2!3d20.7982549!4d-103.4583956!16s%2Fg%2F11b6cq2w45?entry=ttu&g_ep=EgoyMDI1MDMwNC4wIKXMDSoASAFQAw%3D%3D"
        class="text-blue-500 underline cursor-pointer font-extralight"
        >Abrir en Google Maps</a
      >
    </div>
  </div>
</div>
