---
import Icon from "./Icon.astro";
import Typography from "./Typography.astro";
import Leaf from "./icons/Leaf.astro";
---

<div
  class="flex flex-col items-center justify-center pb-20 pt-8 p-2 md:p-15 place-items-center gap-y-2"
  aria-label="Ubicaci贸n"
>
  <Typography
    as="h3"
    color="black"
    class:list={"text-balance text-center font-atomic text-[60px]"}
    >Ubicaci贸n
  </Typography>
  <Icon>
    <Leaf class="w-7 h-7 fill-primary" />
  </Icon>
  <div
    class="flex flex-col items-center md:flex-row gap-5 md:gap-0 gap-x-10 w-full justify-between md:justify-around p-2"
  >
    <div class="flex flex-col p-4 max-w-lg gap-4 w-full">
      <Typography
        as="h4"
        color="black"
        class:list={"text-balance text-center font-atomic text-5xl"}
        >Misa
      </Typography>
      <div class="border-4 border-primary">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.7001062563336!2d-103.46522042475283!3d20.681776380882113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428a937898a8eb3%3A0x52ad0db6ee356b88!2sEstadio%20Akron!5e0!3m2!1ses-419!2sus!4v1720029434917!5m2!1ses-419!2sus"
          width="100%"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <h3 class="text-2xl tracking-wider font-extralight font-atomic">
        Direcci贸n
      </h3>
      <span class="text-md tracking-tight font-light">Iglesia catolica</span>
      <span class="text-md tracking-tight font-light"
        >Calle Lopez Mateos, Jal.
      </span>
    </div>
    <div class="flex flex-col p-4 max-w-lg gap-4 w-full">
      <Typography
        as="h4"
        color="black"
        class:list={"text-balance text-center font-atomic text-5xl"}
        >Fiesta
      </Typography>
      <div class="border-4 border-primary">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.0143955173285!2d2.2911446124284747!3d48.85793588280974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964e34e2d%3A0x8ddca9ee380ef7e0!2sTorre%20Eiffel!5e0!3m2!1ses-419!2sus!4v1720029491505!5m2!1ses-419!2sus"
          width="100%"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <h3 class="text-2xl tracking-wider font-extralight font-atomic">
        Direcci贸n
      </h3>
      <span class="text-md tracking-tight font-light">Casino</span>
      <span class="text-md tracking-tight font-light">Av. Patria, Jal. </span>
    </div>
  </div>
</div>
