<div class="relative h-screen text-white bg-cover main-image">
  <div class="table w-full h-full text-center">
    <div class="table-cell">
      <div class="slider-content">
        <h1
          class="md:text-[90px] lg:text-[100px] text-[60px] font-extralight font-atomic tracking-widest lg:mt-10"
        >
          Ana & Mauricio
        </h1>
      </div>
    </div>
  </div>
</div>

<style>
  .main-image {
    position: relative;
    z-index: 1;
    background: url("../../public/img/bg-main.webp");
    background-size: cover;
    color: #fff;
    background-position-x: 45%;
  }

  .main-image:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
  }
</style>
